body{
    background-color: #e2e2e7;
    color: #31312d;
}

footer{
    background-color: #a3a1a0;
    color: #31312d;
}

.link{
    color: #e2e2e7;
}

.intro-para::first-letter{
    font-size: 150%;
}

.button:hover{
    text-shadow: #a3a1a0 1px 1px 0px;
}
