body{
    background-color: #e2e2e7;
    color: #31312d;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    background-color: #a3a1a0;
    color: #31312d;
    font-family: 'Courier New', Courier, monospace;

}

.link{
    color: #e2e2e7;
}
